@font-face {
  font-family: Inter;
  src: url("./Asset/fonts/Inter-VariableFont_slnt,wght.ttf");
}

body {
  margin: 0;
  font-size: 14px;
  color: #3F3E3E;
  font-family: Inter;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
